# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/dist/
/.pnp/
/.pnp.js

# Production build
/build/
/out/

# Coverage directory
coverage/

# .env file
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
*.log

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Package lock file
package-lock.json
